<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" /> 
    <meta name="viewport" content= "width=device-width, initial-scale=1.0" /> 
    <!-- Variable tiltle of the page -->
	<title><%= title %></title> 
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/Home.css">
	
</head>
<body>
	<header>
		<!-- Header of the web app -->
		<i class="far fa-list-alt"></i>
		<span>&ensp;TODO APP</span>
	</header>

	<main>
		<!-- Form -->
		<form action="/add/todo" method="POST">
			<section>
				<!-- Description Section -->
				<div class="description-container">
					<label for="description">DESCRIPTION</label>
					<br>
					<input type="text" name="description" id="description" placeholder="What do you neeed to do?" required>
				</div>
				<!-- Choose category and date -->
				<div class="category-date-container">
					<div class="category">
						<label for="category">CATEGORY</label>
						<select id="category" name="category">
							<option value="" selected>Choose a category</option>
							<option value="Personal">Personal</option>
							<option value="Home">Home</option>
							<option value="Work">Work</option>
							<option value="School">School</option>
						</select>
					</div>
					
					<div class="date">
						<label>DUE DATE</label>
						<input type="date" id="start" name="date" placeholder="dd/mm/yyyy" required>
					</div>
					
				</div>
				<!-- Buttons -->
				<div class="buttons">
					<button type="submit" class="add-button">
						<i class="fas fa-plus"></i>
						<span>&nbsp;&nbsp;Add Task</span>
					</button>
					<button type="submit" class="delete-button">
						<i class="fas fa-trash"></i>
						<span>&nbsp;&nbsp;Delete Task</span>
					</button>
				</div>
			</section>
		</form>

		<!-- Unorder list to show -->
		<ul class="unordered-list">
            <%for(let i of todo){%>

                <li class="list-item">
                    <div class="list-content">
                        <div class="checkbox">
                            <input type="checkbox" name="todo" value="Why not add a task ?">
                            <span>&ensp;&ensp;<%= i.msg %></span>
                        </div>
                        <footer class="due-date">
                            <i class="far fa-calendar-alt"></i>
                            <span>&ensp;<%= i.date %></span>
                        </footer>
                    </div>
                    <div></div>
                </li>

            <%}%>
		</ul>
	</main>
</body>