/*Removing the default margin and getting all text at center*/
body{
	color: white;
	margin: 0;
	text-align: center;
	background: rgb(221,54,49);
	background: linear-gradient(129deg, rgba(221,54,49,1) 0%, rgba(228,128,33,1) 41%, rgba(241,213,87,1) 100%);
	overflow-x: hidden;
	background-attachment: fixed; /*To make linear gradient occupy full screen*/
}

/*styling header*/
header{
	font-family: 'Lemonada', cursive;
	font-size: 3rem;
	font-weight: bold;
	margin: 2rem 0 0;
	padding-bottom: 1.6rem;
	height: 4rem;
	border-bottom: 1px solid white;
	display:flex;
	justify-content: center;
	align-items: center;
}
/*changing the color of placeholder*/
::placeholder{
	color: rgb(22, 21, 21);
	font-family: 'Lobster', cursive;
}
/*form div label, input{
	display: block;
}*/

/*Styling the description container*/
form .description-container{
	height: 6rem;
	/* margin: 1rem 0; */
	padding: 1rem 1rem;
	border-bottom: 1px solid white;
	display: flex;
	flex-direction: flex-start;
	flex-wrap: wrap;
}
form .description-container input{
	width: 100%;
	height: 3rem;
	font-size: 1.5rem;
	/* margin-bottom: 1rem; */
	border-style: none;
	outline: none;
	background: transparent;
	color: rgb(22, 21, 21);
	font-family: 'Lobster', cursive;
}
form .description-container:focus-within{
	background-color: rgb(187, 182, 184);
}

/*Styling the container of category and date*/
form .category-date-container{
	height: 6rem;
	width: 100%;
	margin-bottom: 1rem;
	/* padding: 0 1rem; */
	border-bottom: 1px solid white;
	display: flex;
	flex-direction: flex-start;
}
form label{
	font-weight: bold;
}
.category{ /*Styling the category div*/
	width: 50%;
	display: flex;
	flex-direction: flex-start;
	border-right: 1px solid white;
	padding: 1rem;
	flex-wrap: wrap;
}
.category:focus-within{
	background-color: rgb(187, 182, 184);
}
.category select{
	width: 100%;
	height: 3rem;
	font-size: 1.5rem;
	font-family: 'Lobster', cursive;
	border-style: none;
	outline: none;
	color: rgb(22, 21, 21);
	background: transparent;
}
.category select option{
	color: black;
}
.date{ /*Styling the date div*/
	width: 50%;
	display: flex;
	flex-direction: flex-start;
	flex-wrap: wrap;
	padding: 1rem 4rem 1rem 1rem;
	/* padding-right: 4rem; */
}
.date:focus-within{
	background-color: rgb(187, 182, 184);
}
.date input{
	width: 100%;
	height: 3rem;
	font-size: 1.5rem;
	font-family: 'Lobster', cursive;
	border-style: none;
	outline: none;
	color: rgb(22, 21, 21);
	background: transparent;
}


/*Styling the button*/
form .buttons{
	margin: 3rem 0;
}
.buttons .add-button{
	width: 10rem;
	height: 3rem;
	background-color: #444444;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	border-style: none;
	border: 2px solid #444444;
	border-radius: 20px;
	margin-right: 0.5rem;
	cursor: pointer;
	outline: none;
}
.buttons .delete-button{
	width: 10rem;
	height: 3rem;
	background-color: #ee351e;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	border-style: none;
	border: 2px solid #ee351e;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
}


/*Styling the list*/
.unordered-list{
	list-style: none;
	margin: 2rem 18rem 0;
	padding: 0;
}
.unordered-list .list-item{
	border-top: 1px solid white;
	height: 4rem;
	padding: 1rem 0.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lobster', cursive;
}
.list-content{
	display: flex;
	flex-direction: flex-start;
	flex-wrap: wrap;
}
.checkbox{
	font-size: 1.3rem;
}

.due-date{
	width: 100%;
	display: flex;
	margin-top: 0.5rem;
	padding-left: 0.2rem;
	color: rgb(22, 21, 21);
}

.category-display{
	color: black;
	/* margin-right: 3rem; */
	border-radius:20px;
	font-size: 1rem;
	font-family: 'Times New Roman', Times, serif;
	font-weight:100;
	padding: 0.4rem 0.5rem;	
}

/* Strick when checkbocx is checked */
.checked:checked + span{
	text-decoration: line-through;
	text-decoration-color: black;
}

/* color classes  for the categories*/
#Home{
	background-color:greenyellow;
}
#Personal{
	background-color: rgb(137, 35, 233);
	color: white;
}
#Work{
	background-color: black;
	color: white;
}
#University{
	background-color: rgb(255, 255, 0);
}